<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />       
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LAYOUT</title>
    <link rel='stylesheet' href="./style.css"/>
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src="./script.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="_1" class="item collapsed">I</div>
      <div id="_2" class="item collapsed">am</div>
      <div id="_3" class="item">unwritten</div>
      <div id="_4" class="item">Can't</div>
      <div id="_5" class="item">read</div>
      <div id="_6" class="item collapsed">my</div>
      <div id="_7" class="item">mind</div>
      <div id="_8" class="item collapsed">I</div>
      <div id="_9" class="item collapsed">am</div>
      <div id="_10" class="item">undefined</div>
      <div id="_11" class="item">I'm</div>
      <div id="_12" class="item">just</div>
      <div id="_13" class="item">beginning</div>
      <div id="_14" class="item">The</div>
      <div id="_15" class="item">pen's</div>
      <div id="_16" class="item">in</div>
      <div id="_17" class="item collapsed">my</div>
      <div id="_18" class="item">hand</div>
      <div id="_19" class="item">Ending</div>
      <div id="_20" class="item">unplanned</div>
      <div id="_21" class="item">Staring</div>
      <div id="_22" class="item">at</div>
      <div id="_23" class="item collapsed">the</div>
      <div id="_24" class="item">blank</div>
      <div id="_25" class="item">page</div>
      <div id="_26" class="item">before</div>
      <div id="_27" class="item">you</div>
      <div id="_28" class="item">open</div>
      <div id="_29" class="item">up</div>
      <div id="_30" class="item collapsed">the</div>
      <div id="_31" class="item">dirty</div>
      <div id="_32" class="item">window</div>
      <div id="_33" class="item">Let the</div>
      <div id="_34" class="item">sun</div>
      <div id="_35" class="item">illuminate</div>
      <div id="_36" class="item collapsed">the</div>
      <div id="_37" class="item">words</div>
      <div id="_38" class="item">you</div>
      <div id="_39" class="item">could</div>
      <div id="_40" class="item">not</div>
      <div id="_41" class="item">find</div>
      <div id="_42" class="item">Reaching</div>
      <div id="_43" class="item">for</div>
      <div id="_44" class="item">someting</div>
      <div id="_45" class="item">in</div>
      <div id="_46" class="item collapsed">the</div>
      <div id="_47" class="item">distance</div>
      <div id="_48" class="item">so close</div>
      <div id="_49" class="item">you</div>
      <div id="_50" class="item">can</div>
      <div id="_51" class="item">almost</div>
      <div id="_52" class="item">taste</div>
      <div id="_53" class="item">it</div>
      <div id="_54" class="item">Release</div>
      <div id="_55" class="item collapsed">your</div>
      <div id="_56" class="item">inhibitions</div>
      <div id="_57" class="item">feel</div>
      <div id="_58" class="item collapsed">the</div>
      <div id="_59" class="item">rain</div>
      <div id="_60" class="item">on</div>
      <div id="_61" class="item collapsed">your</div>
      <div id="_62" class="item">skin</div>
      <div id="_63" class="item">No</div>
      <div id="_64" class="item">one</div>
      <div id="_65" class="item">else</div>
      <div id="_66" class="item">can</div>
<!--       <div id="_67" class="item collapsed">feel</div> -->
      
      
    </div>
  </body>
</html>